#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "custom-behaviors.dtsi"

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DVORAK";
// --------------------------------------------------------------------------------
// |  DEL/TAB   |  "  |  <  |  >  |  P  |  Y  |   |  F  |  G   |  C  |  R  |  L  |  +   |
// |  CTRL(ESC) |  A  |  O  |  E  |  U  |  I  |   |  D  |  H   |  T  |  N  |  S  |  ?   |
// |  ~/`       |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M   |  W  |  V  |  Z  |  \   |
//            | GUI | SHFT(BSP) | CPY/PST/CUT |   | ENT | LAY1(SPC)  |  -  |
            bindings = <
&mt DEL TAB     &kp SQT   &kp COMMA &kp DOT   &kp P   &kp Y     &kp F &kp G  &kp C     &kp R   &kp L    &kp EQUAL
&mt LCTRL ESC   &kp A     &kp O     &lt 3 E   &lt 2 U &kp I     &kp D &kp H  &kp T     &kp N   &kp S    &kp SLASH
&kp GRAVE       &kp SEMI  &kp Q     &kp J     &kp K   &kp X     &kp B &kp M  &kp W     &kp V   &kp Z    &kp BSLH
            &kp LGUI &mt LSHFT BSPC &td_ccp          &kp RET &lt 1 SPACE &kp MINUS
            >;
        };

        connection_layer {
            display-name = "CONNECT";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |Studio|
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
&kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &studio_unlock
&kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                     &trans     &trans       &trans      &trans  &trans   &trans
            >;
        };

        nav_layer {
            display-name = "NAV";
// -----------------------------------------------------------------------------------------
// |    |    |    |        |    |    |        |    |  HOME  |   UP   |   END   |    |    |
// |    |    |    |  CTRL  |    |    |        |    |  LEFT  |  DOWN  |  RIGHT  |    |    |
// |    |    |    |        |    |    |        |    |  PGUP  |        |  PGDWN  |    |    |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans  &trans   &trans &trans      &trans   &trans      &trans  &kp HOME   &kp UP    &kp END    &trans   &trans
&trans  &trans   &trans &kp LCTRL   &trans   &trans      &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans   &trans
&trans  &trans   &trans &trans      &trans   &trans      &trans  &kp PG_UP  &trans    &kp PG_DN  &trans   &trans
                        &trans      &trans   &trans      &trans  &trans   &trans
            >;
        };

        number_layer {
            display-name = "NUM";
// -----------------------------------------------------------------------------------------
// |    |    |    |    |    |    |        |  F12  |  7  |  8  |  9  |    |    |
// |    |    |    |    |    |    |        |  F11  |  4  |  5  |  6  |    |    |
// |    |    |    |    |    |    |        |  F10  |  1  |  2  |  3  |    |    |
//                |     |     |    |   |    |  0  |  .  |
            bindings = <
&trans  &trans   &trans &trans   &trans   &trans      &kp F12  &mt F7 N7  &mt F8 N8  &mt F9 N9  &trans  &trans
&trans  &trans   &trans &trans   &trans   &trans      &kp F11  &mt F4 N4  &mt F5 N5  &mt F6 N6  &trans  &trans
&trans  &trans   &trans &trans   &trans   &trans      &kp F10  &mt F1 N1  &mt F2 N2  &mt F3 N3  &trans  &trans
                        &trans   &trans   &trans      &kp 0    &kp DOT    &trans
            >;
        };
    };
};
