/ {
    behaviors {
        //Copy/paste/cut tapdance
        td_ccp: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LC(V) LC(C)>, <&kp LC(X)>;
        }
    };
};